.container{
display: flex;
align-items: center;
justify-content: center;
float: bottom;

}
.text-muted{
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.corazon{
    color: rgb(243, 18, 18);
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}